@import "tailwindcss";

:root {
  --brand-primary: #f59e0b;
  --brand-secondary: #f8fafc;
  --text-primary: #362F2D;
  --text-secondary: #6B625F;
  --text-light: #f8fafc;
  --bg-light: #ffffff;
  --bg-dark: #0a0a0a;
  --card-bg: #f1f5f9;
}